services:
  front-greatbank:
    build:
      context: .
      dockerfile: greatbank-front.Dockerfile
    container_name: greatbank-front
    environment:
      VIRTUAL_HOST: greatbank.producciondaw.cip.fpmislata.com
    networks:
      - proxy_red
  
  front-thebarberhub:
    build:
      context: .
      dockerfile: thebarberhub-adm.Dockerfile
    container_name: thebarberhub-front
    environment:
      VIRTUAL_HOST: thebarberhub.producciondaw.cip.fpmislata.com
    networks:
      - proxy_red

  front-thebarberhub-client:
    build:
      context: .
      dockerfile: thebarberhub-client.Dockerfile
    container_name: thebarberhub-client
    environment:
      VIRTUAL_HOST: thebarberhub-client.producciondaw.cip.fpmislata.com
    networks:
      - proxy_red

  back-greatbank:
    build:
      context: .
      dockerfile: greatbank-back.Dockerfile
    container_name: greatbank-back
    environment:
      VIRTUAL_HOST: greatbank-back.producciondaw.cip.fpmislata.com
      SPRING_PROFILES_ACTIVE: pre
    depends_on:
      - mysql-greatbank
    networks:
      - proxy_red

  back-thebarberhub:
    build:
      context: .
      dockerfile: thebarberhub-back.Dockerfile
    container_name: thebarberhub-back
    environment:
      VIRTUAL_HOST: thebarberhub-back.producciondaw.cip.fpmislata.com
      SPRING_PROFILES_ACTIVE: pre
    depends_on:
      - mysql-thebarberhub
    networks:
      - proxy_red

  mysql-greatbank:
    image: mysql:8.0
    container_name: mysql-greatbank
    environment:
      MYSQL_ROOT_PASSWORD: greatbank
      MYSQL_DATABASE: db_greatbank
      MYSQL_USER: greatbank
      MYSQL_PASSWORD: greatbank
    volumes:
      - ./sql-init/greatbank-init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - proxy_red

  mysql-thebarberhub:
    image: mysql:8.0
    container_name: mysql-thebarberhub
    environment:
      MYSQL_ROOT_PASSWORD: thebarberhub
      MYSQL_DATABASE: db_thebarberhub
      MYSQL_USER: thebarberhub
      MYSQL_PASSWORD: thebarberhub
    volumes:
      - ./sql-init/thebarberhub-init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - proxy_red

networks:
  proxy_red:
    name: nginx-proxy-network
    external: true

